{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>eSecurify | We Rainforce Security!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="{% static 'media/logos/favicon.png' %}" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
        <link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
	</head>
	<body id="kt_body" class="bg-body">
		<div class="d-flex flex-column flex-root">
			<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(static/media/illustrations/development-hd.png)">
				<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
					<a href="{% url 'accounts:register_user' %}" class="mb-12">
						<img alt="Logo" src="{% static 'media/logos/logo.png' %}" class="h-45px" />
					</a>
					<div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
						<form class="form w-100" novalidate="novalidate" id="sign_up_form">
							{% csrf_token %}
							<div class="mb-10 text-center">
								<h1 class="text-dark mb-3">Create an Account</h1>
								<div class="text-gray-400 fw-bold fs-4">Already have an account?
								<a href="{% url 'accounts:login_user' %}" class="link-primary fw-bolder">Forgot Password ?</a></div>
							</div>
                            <div class="d-flex align-items-center mb-10">
                                <div class="border-bottom border-gray-300 mw-50 w-100">

                                </div>
                                <div class="border-bottom border-gray-300 mw-50 w-100">

                                </div>
                            </div>
							<div class="row fv-row mb-7">
								<div class="col-xl-6">
									<label class="form-label fw-bolder text-dark fs-6">First Name</label>
									<input placeholder="First Name" class="form-control form-control-lg form-control-solid" type="text" placeholder="" name="first-name" autocomplete="off" />
								</div>
								<div class="col-xl-6">
									<label class="form-label fw-bolder text-dark fs-6">Last Name</label>
									<input placeholder="Last Name" class="form-control form-control-lg form-control-solid" type="text" placeholder="" name="last-name" autocomplete="off" />
								</div>
							</div>
							<div class="fv-row mb-7">
								<label class="form-label fw-bolder text-dark fs-6">Email</label>
								<input placeholder="Email" class="form-control form-control-lg form-control-solid" type="email" placeholder="" name="email" autocomplete="off" />
							</div>
							<div class="mb-10 fv-row" data-kt-password-meter="true">
								<div class="mb-1">
									<label class="form-label fw-bolder text-dark fs-6">Password</label>
									<div class="position-relative mb-3">
										<input placeholder="Password" class="form-control form-control-lg form-control-solid" type="password" placeholder="" name="password" autocomplete="off" />
										<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
											<i class="bi bi-eye-slash fs-2"></i>
											<i class="bi bi-eye fs-2 d-none"></i>
										</span>
									</div>
									<div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
										<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
										<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
										<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
										<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
									</div>
								</div>
								<div class="text-muted">Use 8 or more characters with a mix of letters, numbers &amp; symbols.</div>
							</div>
							<div class="fv-row mb-5">
								<label class="form-label fw-bolder text-dark fs-6">Confirm Password</label>
								<input placeholder="Password confirmation" class="form-control form-control-lg form-control-solid" type="password" placeholder="" name="confirm-password" autocomplete="off" />
							</div>
							<div class="fv-row mb-10">
								<label class="form-check form-check-custom form-check-solid form-check-inline">
									<input class="form-check-input" type="checkbox" name="toc" value="1" />
									<span class="form-check-label fw-bold text-gray-700 fs-6">I Agree
									<a href="#" class="ms-1 link-primary">Terms and conditions</a>.</span>
								</label>
							</div>
							<div class="text-center">
								<button type="button" id="sign_up_submit" class="btn btn-lg btn-primary w-100 mb-5">
									<span class="indicator-label">Submit</span>
									<span class="indicator-progress">Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
								</button>
                                <a href="{% url 'accounts:login_user' %}">
                                    <button type="button" id="" class="btn btn-lg btn-light-primary w-100 mb-5">
                                        Cancel
                                    </button>
                                </a>
							</div>
						</form>
					</div>
				</div>
				<div class="d-flex flex-center flex-column-auto p-10">
					<div class="d-flex align-items-center fw-bold fs-6">
						<a href="https://www.esecurify.com/" class="text-muted text-hover-primary px-2">Home</a>
						<a href="https://www.esecurify.com/#section-services" class="text-muted text-hover-primary px-2">Service</a>
						<a href="https://www.esecurify.com/#section-contact-us" class="text-muted text-hover-primary px-2">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
		
        <script src="{% static 'plugins/global/plugins.bundle.js' %}" src="assets/"></script>
		<script src="{% static 'js/scripts.bundle.js' %}"></script>
		<!-- <script src="{% static 'js/custom/authentication/sign-up/general.js' %}"></script> -->

	</body>
</html>

<script>
    "use strict";
    function handleSubmitForm(){
        const form = document.querySelector("#sign_up_form");
        const submitButton = document.querySelector("#sign_up_submit");
        const passwordMeter = KTPasswordMeter.getInstance(form.querySelector('[data-kt-password-meter="true"]'));
        let validator = FormValidation.formValidation(form,{
            fields :{
                "first-name": {
                    validators: {
                        notEmpty: {
                            message: "First Name is required"
                        }
                    },
                },
                "last-name": {
                    validators: {
                        notEmpty: {
                            message: "Last Name is required"
                        }
                    },
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: "Email address is required"
                        },
                        emailAddress: {
                            message: "The value is not a valid email address",
                        },
                    },
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: "The password is required"
                        },
                        callback: {
                            message: "Please enter valid password",
                            callback: function (e) {
                                if (e.value.length > 0) return r();
                            },
                        },
                    },
                },
                "confirm-password": {
                    validators: {
                        notEmpty: {
                            message: "The password confirmation is required"
                        },
                        identical: {
                            compare: function () {
                                return form.querySelector('[name="password"]').value;
                            },
                            message: "The password and its confirm are not the same",
                        },
                    },
                },
                toc: {
                    validators: {
                        notEmpty: {
                            message: "You must accept the terms and conditions",
                        },
                    },
                },
            },
            plugins:{
                trigger: new FormValidation.plugins.Trigger({
                    event: { password: !1 },
                }),
                bootstrap: new FormValidation.plugins.Bootstrap5({
                    rowSelector: ".fv-row",
                    eleInvalidClass: "",
                    eleValidClass: "",
                }),
            }
        });
        submitButton.addEventListener("click", function(r){
            r.preventDefault(),
            validator.revalidateField("password"),
            validator.validate().then(function(val){
                "Valid" == val ? (submitButton.setAttribute("data-kt-indicator", "on"),
                (submitButton.disabled = !0),
                setTimeout(function(){
                    submitButton.removeAttribute("data-kt-indicator"),
                    (submitButton.disabled = !1),
                    $.ajax({
                        type: "POST",
                        url: "{% url 'accounts:register_user' %}",
                        data: $(form).serialize(),
                        dataType: "json",
                        success: function(response){
                            Swal.fire({
                                text: "Thanks for register..!",
                                icon: "success",
                                buttonsStyling: !1,
                                confirmButtonText: "Ok, got it!",
                                customClass: {
                                    confirmButton: "btn btn-primary"
                                },
                            }).then(function(t){
                                t.isConfirmed && (form.reset());
								window.location = "{% url 'accounts:login_user' %}";
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Error! Retry, or contact support.");
                        },
                    })
                }, 1500))
                : Swal.fire({
                    text: "Sorry, looks like there are some errors detected, please try again.",
                    icon: "error",
                    buttonsStyling: !1,
                    confirmButtonText: "Ok, got it!",
                    customClass: { confirmButton: "btn btn-primary" },
                });
            })
        }),
        form.querySelector('input[name="password"]').addEventListener("input", function(){
            this.value.length > 0 && validator.updateFieldStatus("password", "NotValidated");
        });
    }

    KTUtil.onDOMContentLoaded(function () {
        handleSubmitForm();
    });
</script>